<div class="page-title">
  {{title}}
</div>
<form>
  <mat-form-field class="top-search-box-container">
    <button mat-icon-button color="primary" matPrefix><mat-icon color="">search</mat-icon></button>
    <input class="top-search" matInput placeholder="Tìm kiếm">
  </mat-form-field>
</form>
<button mat-button color="primary">Chọn</button>
<button mat-button color="primary">Lọc</button>
<button mat-button color="primary">Xuất</button>
<button mat-raised-button color="primary" (click)="openDialog()"> <mat-icon>add_circle_outline</mat-icon>Tạo mới</button>
