.fluid-container{
  display: flex;
}

.note-wrapper-fluid-container{
  margin: 10px 0 0 10px;
  display: block;
  padding: 10px 5px 10px 5px;
  width: 794px;
  height: 1123px;
  border: 1px solid #be403d;
}

.logo{
  max-width: 170px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  padding: 0 15px 10px 15px;
}

.header-icon{
  width: 20px;
  font-size: 20px;
  color: #be403d;
  margin-right: 10px;
}

.header-component{
  align-items: center;
  display: flex;
}

.header-divider-flow{
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
}

.header-divider{
  width: 100%;
  height: 3px;
  background-color: red;

  &:before{
    width:5px;
    height:170%;
    content:"";
    background-color:#fff;
    display:block;
    margin-left:50px;
    margin-top:-15px;
    transform:rotate(120deg);
  }

  &:after{
    margin-top: -67px;
    width:5px;
    height:120%;
    content:"";
    background-color:#fff;
    display:block;
    margin-left:85%;
    transform:rotate(120deg);
  }
}

.text-component{
  padding: 6px 0 6px 0;
}

table, th, td{
  border-collapse: collapse;
  border: 1px solid #be403d;

  td{
    text-align: left;
    padding: 6px 6px 6px 6px;
  }

  th{
    padding: 6px 6px 6px 6px;
  }
}

.content-container{
  padding: 30px 0 10px 0;
  display: block;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.content-title{
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.content-information-block{
  text-align: left;
  padding: 50px 5px 20px 35px;
}

.first-row{
  max-width: 150px;
  text-align: center !important;
  font-weight: bold;
}

.content-row{
  max-width: 250px;
}

.last-row{
  max-width: 150px;
}

.solution-text-note{
  text-align: left;
  padding: 20px 0 10px 30px;
}

.padding-6{
  padding: 6px 30px 6px 0;
}

.padding-3{
  padding: 3px 0 3px 0;
}

.justify-text{
  text-align: justify !important;
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 18px;
  align-items: end;
  padding-right: 30px;
}