<div class="fluid-container">
  <div class="study-table">
    <div class="study-table-col study-table-header">
      <span>Nội dung đào tạo</span>
      <span>Phát triển thể chất</span>
      <span>Phát triển nhận thức</span>
      <span>Phát triển ngôn ngữ</span>
      <span>Phát triển tình cảm xã hội</span>
      <span>Phát triển nghệ thuật</span>
      <span>Sức khỏe</span>
      <span>Tiếng anh</span>
      <span>Ngân hàng kỹ năng sống</span>
    </div>

    <div class="study-table-col">
      <span class="study-table-header">Mục tiêu giáo dục</span>
      <span>
        <mat-form-field>
        <input
          matInput
        />
      </mat-form-field>
      </span>

    </div>

    <div class="study-table-col">
      <span class="study-table-header">Thành tựu của trẻ</span>
    </div>

    <div class="study-table-col">
      <span class="study-table-header">GV phụ trách</span>
    </div>
  </div>

  <div>
    <span>Định hướng</span>
  </div>
</div>