<div class="fluid-container">
  <div class="left-fluid-container">
    <mat-card class="filter-container">
      <mat-card-title class="kloud-title-container">
        <span class="page-title"> Bộ lọc </span>
      </mat-card-title>
      <kloud-divider></kloud-divider>
      <mat-card-content class="kard-kontent">

      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="main-content-container">
    <mat-card-title class="kloud-title-container">
      <span class="page-title">Quản lý người dùng</span>
    </mat-card-title>

    <kloud-divider></kloud-divider>

    <mat-card-subtitle>
      <div class="widget-container">
        <form [formGroup]="searchForm" (ngSubmit)="handleSearch()">
          <mat-form-field class="top-search-box-container">
            <button mat-icon-button color="primary" matPrefix ><mat-icon color="">search</mat-icon></button>
            <input formControlName="searchField" class="top-search" matInput placeholder="Tìm kiếm">
          </mat-form-field>
        </form>

        <div class="widget-spacer"></div>
        <div class="widget-button-container">
          <div class="widget-button"><button mat-flat-button color="secondary">Chọn</button></div>
          <div class="widget-button"><button  mat-flat-button color="secondary">Lọc</button></div>

          <div class="widget-button">
            <button class="widget-icon-button"
                    mat-raised-button color="secondary"
            > <mat-icon class="widget-icon">add_circle_outline</mat-icon>
              <span>Xuất</span>
            </button>
          </div>
          <div class="widget-button">
            <button class="widget-icon-button"
                    mat-raised-button color="accent"
            >
              <mat-icon class="widget-icon">add_circle_outline</mat-icon>
              <span>Import</span>
            </button>
          </div>

          <div class="widget-button">
            <button
              (click)="openDialog()"
              class="widget-icon-button"
              mat-raised-button color="primary"
            >
              <mat-icon class="widget-icon">add_circle_outline</mat-icon>
              <span>Tạo mới</span>
            </button>
          </div>

        </div>
      </div>
    </mat-card-subtitle>

    <mat-card-content>
      <div class="table-user">
        <mat-progress-bar *ngIf="apiLoading" mode="indeterminate" color="accent"></mat-progress-bar>
        <kloud-table
          [dataSource]="users"
          [displayedColumns]="displayColumn"
          (clickedRow)="handleClickedRow($event)"
          (handleClickEditRecord)="handleClickedEdit($event)"
          (handleClickLockRecord)="handleClickedLock($event)"
          (handleClickDeleteRecord)="handleClickedDelete($event)"
        ></kloud-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>