<div class="fluid-container">
  <div class="left-fluid-container">
    <mat-card class="filter-container">
      <mat-card-title class="kloud-title-container">
        <span class="page-title"> Bộ lọc </span>
      </mat-card-title>
      <mat-card-content class="kard-kontent">
        <mat-label class="kard-kontent-komponent-title">Lọc chức vụ</mat-label>
        <mat-form-field
          class="filter-component-container full-width-input"
          appearance="outline"
        >
          <mat-label>Chức vụ</mat-label>
          <mat-select
            #roleSelect
            (selectionChange)="onSelectedRoles($event)"
          >
            <mat-option [value]="roleEnum.SuperAdmin">Super admin</mat-option>
            <mat-option [value]="roleEnum.Admin">Hội đồng quản trị</mat-option>
            <mat-option [value]="roleEnum.Manager">Quản lý</mat-option>
            <mat-option [value]="roleEnum.Teacher">Giáo viên</mat-option>
            <mat-option [value]="roleEnum.Driver">Tài xế</mat-option>
            <mat-option [value]="roleEnum.Member">Phụ huynh học sinh</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="kloud-kard-actions">
          <button mat-stroked-button (click)="handleResetFilter(); roleSelect.value='';"> Đặt lại </button>
          <div class="widget-spacer"></div>
          <!--                    <button mat-raised-button (click)="resetFilteredSemester()"> Áp dụng </button>-->
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="main-content-container">
    <mat-card-title class="kloud-title-container">
      <span class="page-title">Quản lý người dùng</span>
    </mat-card-title>

    <kloud-divider></kloud-divider>

    <mat-card-subtitle>
      <div class="widget-container">
        <form [formGroup]="searchForm" (ngSubmit)="handleSearch()">
          <mat-form-field class="top-search-box-container">
            <button mat-icon-button color="primary" matPrefix ><mat-icon color="">search</mat-icon></button>
            <input formControlName="searchField" class="top-search" matInput placeholder="Tìm kiếm">
          </mat-form-field>
        </form>

        <div class="widget-spacer"></div>
        <div class="widget-button-container">
          <div class="widget-button"><button mat-flat-button color="secondary">Chọn</button></div>

          <div class="widget-button">
            <button class="widget-icon-button"
                    mat-raised-button color="secondary"
            > <mat-icon class="widget-icon">add_circle_outline</mat-icon>
              <span>Xuất</span>
            </button>
          </div>
          <div class="widget-button">
            <button class="widget-icon-button"
                    mat-raised-button color="accent"
            >
              <mat-icon class="widget-icon">add_circle_outline</mat-icon>
              <span>Import</span>
            </button>
          </div>

          <div class="widget-button">
            <button
              (click)="openDialog()"
              class="widget-icon-button"
              mat-raised-button color="primary"
            >
              <mat-icon class="widget-icon">add_circle_outline</mat-icon>
              <span>Tạo mới</span>
            </button>
          </div>

        </div>
      </div>
    </mat-card-subtitle>

    <mat-card-content>
      <div class="table-user">
        <mat-progress-bar *ngIf="apiLoading" mode="indeterminate" color="accent"></mat-progress-bar>
        <kloud-table
          [dataSource]="users"
          [displayedColumns]="displayColumn"
          (clickedRow)="handleClickedRow($event)"
          (handleClickEditRecord)="handleClickedEdit($event)"
          (handleClickLockRecord)="handleClickedLock($event)"
          (handleClickDeleteRecord)="handleClickedDelete($event)"
        ></kloud-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>