<div class="fluid-container">
  <div class="left-fluid-container">
    <mat-card class="filter-container">
      <mat-card-title class="kloud-title-container">
        <span class="page-title"> Bộ lọc </span>
      </mat-card-title>
      <kloud-divider></kloud-divider>
      <mat-card-content class="kard-kontent">
        <div class="kard-kontent-komponent">
          <h3 class="kard-kontent-komponent-title">Filter lớp học</h3>
          <mat-form-field
            class="filter-component-container full-width-input"
            appearance="outline"
          >
            <mat-select
              placeholder="Chọn lớp"
            >
              <mat-option>5 tuoi</mat-option>
              <mat-option>5 tuoi</mat-option>
              <mat-option>5 tuoi</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="kard-kontent-komponent">
          <h3 class="kard-kontent-komponent-title">Filter giới tính</h3>

          <mat-radio-group class="filter-radio-button-group">
            <mat-radio-button class="filter-radio-button-button" value="2">Nam</mat-radio-button>
            <mat-radio-button class="filter-radio-button-button" value="1">Nữ</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="right-fluid-container">
    <mat-card class="main-content-container">
      <mat-card-title class="kloud-title-container">
        <span class="page-title">Quản lý học sinh</span>
      </mat-card-title>

      <kloud-divider></kloud-divider>

      <mat-card-subtitle>
        <div class="widget-container">
          <form [formGroup]="searchForm" (ngSubmit)="handleSearch()" style="margin-top: 7px;">
            <mat-form-field class="top-search-box-container">
              <button mat-icon-button color="primary" matPrefix ><mat-icon color="">search</mat-icon></button>
              <input formControlName="searchField" class="top-search" matInput placeholder="Tìm kiếm">
            </mat-form-field>
          </form>

          <div class="widget-spacer"></div>
          <div class="widget-button-container">
            <div class="widget-button"><button mat-flat-button color="secondary">Chọn</button></div>

            <div class="widget-button">
              <button class="widget-icon-button"
                      mat-raised-button color="secondary"
                      (click)="onClickExportExcel()"
              > <mat-icon class="widget-icon">add_circle_outline</mat-icon>
                <span>Xuất</span>
              </button>
            </div>
            <div class="widget-button">
              <button class="widget-icon-button"
                      mat-raised-button color="accent"
                      (click)="onClickOpenImportStudentDialog()"
              >
                <mat-icon class="widget-icon">add_circle_outline</mat-icon>
                <span>Import</span>
              </button>
            </div>

            <div class="widget-button">
              <button class="widget-icon-button"
                      mat-raised-button color="primary"
                      (click)="openDialog()"
              >
                <mat-icon class="widget-icon">add_circle_outline</mat-icon>
                <span>Tạo mới</span>
              </button>
            </div>

          </div>
        </div>
      </mat-card-subtitle>

      <mat-card-content>
        <div class="kloud-table">
          <kloud-table
            [dataSource]="studentsDataSource"
            [displayedColumns]="displayedColumn"
            [lockApiLoading]="lockApiLoading"
            [deleteApiLoading]="deleteApiLoading"

            (clickedRow)="handleClickedRow($event)"
            (handleClickEditRecord)="handleClickEditRecord($event)"
            (handleClickDeleteRecord)="handleClickDeleteRecord($event)"
            (handleClickLockRecord)="handleClickLockRecord($event)"
          >
          </kloud-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>