<div class="fluid-container">
    <div class="left-fluid-container">
        <mat-card class="filter-container">
            <mat-card-title class="kloud-title-container">
                <span class="page-title"> Bộ lọc </span>
            </mat-card-title>
            <kloud-divider></kloud-divider>
            <mat-card-content class="kard-kontent">
                <div class="kard-kontent-komponent">
                    <mat-label class="kard-kontent-komponent-title">Lọc học kỳ</mat-label>
                    <mat-form-field
                      class="filter-component-container full-width-input"
                      appearance="outline"
                    >
                        <mat-label>Học kỳ</mat-label>
                        <mat-select
                            #semesterSelect
                            (selectionChange)="onSelectedFilterSemester($event)"
                        >
                            <mat-option *ngFor="let item of semesterFilter" [value]="item.semester">{{item.semester}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
<!--                <kloud-divider></kloud-divider>-->
                <div class="kloud-kard-actions">
                    <button mat-stroked-button (click)="resetFilteredSemester(); semesterSelect.value='';"> Đặt lại </button>
                    <div class="widget-spacer"></div>
<!--                    <button mat-raised-button (click)="resetFilteredSemester()"> Áp dụng </button>-->
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="right-fluid-container">
        <mat-card class="main-content-container">
            <mat-card-title class="kloud-title-container">
                <span class="page-title">Quản lý lớp học</span>
            </mat-card-title>

            <kloud-divider></kloud-divider>

            <mat-card-subtitle>
                <div class="widget-container">
                    <form [formGroup]="searchForm" (ngSubmit)="handleSearch()" style="margin-top: 7px;">
                        <mat-form-field class="top-search-box-container">
                            <button mat-icon-button color="primary" matPrefix ><mat-icon color="">search</mat-icon></button>
                            <input formControlName="searchField" class="top-search" matInput placeholder="Tìm kiếm">
                        </mat-form-field>
                    </form>

                    <div class="widget-spacer"></div>

                    <div class="widget-spacer"></div>
                    <div class="widget-button-container">
                        <div class="widget-button">
                            <button
                              [disabled]="!multipleSelectionRow[0]"
                              mat-flat-button color="secondary"
                              [mat-menu-trigger-for]="multipleActionsMenu"
                            >Chọn
                            </button>
                            <mat-menu #multipleActionsMenu="matMenu">
                                <button mat-menu-item (click)="handleMultipleDelete()"><mat-icon>delete</mat-icon>Xóa</button>
                            </mat-menu>
                        </div>
                        <div class="widget-button">
                            <button class="widget-icon-button"
                                    mat-raised-button color="secondary"
                                    [disabled]="exportLoading"
                                    (click)="handleExport()"
                            >
                                <div style="display: flex;justify-content: center;align-items: center">
                                    <mat-icon class="widget-icon">add_circle_outline</mat-icon>
                                    <span>Xuất</span>
                                    <mat-spinner
                                      [diameter]="20"
                                      color="primary"
                                      *ngIf="exportLoading"
                                    ></mat-spinner>
                                </div>
                            </button>
                        </div>
                        <div class="widget-button">
                            <button
                                (click)="openImportDialog()"
                                class="widget-icon-button"
                                mat-raised-button color="accent"
                            >
                                <mat-icon class="widget-icon">add_circle_outline</mat-icon>
                                <span>Import</span>
                            </button>
                        </div>

                        <div class="widget-button">
                            <button
                                (click)="openDialog()"
                                class="widget-icon-button"
                                mat-raised-button
                                color="primary"
                            >
                                <mat-icon class="widget-icon">add_circle_outline</mat-icon>
                                <span>Tạo mới</span>
                            </button>
                        </div>

                    </div>
                </div>
            </mat-card-subtitle>

            <mat-card-content>
                <mat-progress-bar *ngIf="apiLoading" mode="indeterminate" color="accent"></mat-progress-bar>
                <div class="kloud-table">
                    <kloud-table
                      [dataSource]="classesDataSource"

                      [displayedColumns]="displayedColumns"
                      [lockApiLoading]="lockApiLoading"
                      [deleteApiLoading]="deleteApiLoading"
                      (clickedRow)="handleClickedRow($event)"
                      (handleClickEditRecord)="handleClickEditRecord($event)"
                      (handleClickDeleteRecord)="handleClickedDeleteRecord($event)"
                      (handleClickLockRecord)="handleClickLockRecord($event)"
                      (handleSelectedRows)="handleSelectedRow($event)"
                    ></kloud-table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
