<div class="fluid-container">
    <div class="left-fluid-container">
        <mat-card class="filter-container">
            <mat-card-title class="kloud-title-container">
                <span class="page-title"> Bộ lọc </span>
            </mat-card-title>
            <kloud-divider></kloud-divider>
            <mat-card-content class="kard-kontent">
                <div class="kard-kontent-komponent">
                    <h3 class="kard-kontent-komponent-title">Filter học kỳ</h3>
                    <mat-form-field
                      class="filter-component-container full-width-input"
                      appearance="outline"
                    >
                        <mat-label>Học kỳ</mat-label>
                        <mat-select
                            (selectionChange)="onSelectedFilterSemester($event)"
                        >
                            <mat-option *ngFor="let item of semesterFilter" [value]="item.semester">{{item.semester}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button mat-button (click)="resetFilteredSemester()"> reset </button>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="right-fluid-container">
        <mat-card class="main-content-container">
            <mat-card-title class="kloud-title-container">
                <span class="page-title">Quản lý lớp học</span>
            </mat-card-title>

            <kloud-divider></kloud-divider>

            <mat-card-subtitle>
                <div class="widget-container">
                    <form [formGroup]="searchForm" (ngSubmit)="handleSearch()" style="margin-top: 7px;">
                        <mat-form-field class="top-search-box-container">
                            <button mat-icon-button color="primary" matPrefix ><mat-icon color="">search</mat-icon></button>
                            <input formControlName="searchField" class="top-search" matInput placeholder="Tìm kiếm">
                        </mat-form-field>
                    </form>

                    <div class="widget-spacer"></div>

                    <div class="widget-spacer"></div>
                    <div class="widget-button-container">
                        <div class="widget-button"><button mat-flat-button color="secondary">Chọn</button></div>
                        <div class="widget-button">
                            <button class="widget-icon-button"
                                    mat-raised-button color="secondary"
                                    (click)="handleExport()"
                            > <mat-icon class="widget-icon">add_circle_outline</mat-icon>
                                <span>Xuất</span>
                            </button>
                        </div>
                        <div class="widget-button">
                            <button
                                (click)="openImportDialog()"
                                class="widget-icon-button"
                                mat-raised-button color="accent"
                            >
                                <mat-icon class="widget-icon">add_circle_outline</mat-icon>
                                <span>Import</span>
                            </button>
                        </div>

                        <div class="widget-button">
                            <button
                                (click)="openDialog()"
                                class="widget-icon-button"
                                mat-raised-button
                                color="primary"
                            >
                                <mat-icon class="widget-icon">add_circle_outline</mat-icon>
                                <span>Tạo mới</span>
                            </button>
                        </div>

                    </div>
                </div>

            </mat-card-subtitle>

            <mat-card-content>
                <div class="kloud-table">
                    <kloud-table
                      [dataSource]="classesDataSource"
                      [displayedColumns]="displayedColumns"
                      [lockApiLoading]="lockApiLoading"
                      [deleteApiLoading]="deleteApiLoading"
                      (clickedRow)="handleClickedRow($event)"
                      (handleClickEditRecord)="handleClickEditRecord($event)"
                      (handleClickDeleteRecord)="handleClickedDeleteRecord($event)"
                      (handleClickLockRecord)="handleClickLockRecord($event)"
                    ></kloud-table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
