.fluid-container{
  width: 1600px;
  height: 800px;
  max-width: 1920px;
  max-height: 1080px;
  display: flex;
  flex-direction: row;
}

mat-form-field{
  margin: 10px 20px 10px 10px;
}

.mat-card-container{
  margin-bottom: 20px;
}