<h2 mat-dialog-title>Đăng ký xe đưa đón</h2>
<kloud-divider></kloud-divider>
<div class="fluid-container">
  <mat-card class="filter-container">
    <mat-card-title class="kloud-title-container">
      <span>Bộ lọc</span>
    </mat-card-title>
    <kloud-divider></kloud-divider>
    <mat-card-content>
      <mat-tree [dataSource]="studentDataSource" [treeControl]="studentTreeControl" class="kloud-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          <mat-checkbox
            class="checklist-leaf-node"
            [checked]="studentCheckListSelection.isSelected(node)"
            (change)="onStudentLeafItemSelectionToggle(node)"
          >
            {{node.tenant_code}} - {{node.name}}
          </mat-checkbox>
<!--          {{node.tenant_code}} - {{node.name}}-->
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="kloud-tree-node">
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{studentTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <mat-checkbox
              class="checklist-leaf-node"
              [checked]="descendantsAllSelected(node)"
              [indeterminate]="descendantsPartiallySelected(node)"
              (change)="onStudentBranchItemSelectionToggle(node)"
            >
              {{node.name}}
            </mat-checkbox>
          </div>
          <div [class.kloud-tree-invisible]="!studentTreeControl.isExpanded(node)"
               role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </mat-card-content>
  </mat-card>
  <!-- There is inline padding applied to this div using styles.
      This padding value depends on the mat-icon-button width.  -->

  <mat-card class="main-content-container">
    <mat-card-title class="kloud-title-container">
      <span>Thêm học sinh</span>
    </mat-card-title>
    <kloud-divider></kloud-divider>
    <mat-card-content class="kloud-card-content">
      <mat-progress-bar *ngIf="apiLoading" mode="indeterminate" color="accent"></mat-progress-bar>
      <form [formGroup]="busRegisterManagementForm">
        <div class="kloud-card-component">
          <mat-form-field appearance="legacy">
            <mat-label>Học kỳ</mat-label>
            <mat-select
              formControlName="semester"
            >
              <mat-option *ngFor="let semester of semesterDataSource" [value]="semester.semester">
                {{semester.semester}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!busRegisterManagementForm.controls['semester'].valid">
              Vui lòng chọn học kỳ!
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nhân sự lái xe</mat-label>
            <mat-select
              formControlName="driver"
            >
              <mat-option *ngFor="let driver of driverDataSource" [value]="driver">
                {{driver.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!busRegisterManagementForm.controls['driver'].valid">
              Vui lòng chọn học nhân sự lái xe!
            </mat-error>
          </mat-form-field>
          <kloud-divider></kloud-divider>
        </div>
      </form>

      <div class="kloud-card-component">
        <kloud-table
          [dataSource]="checkedStudentTableDataSource"
          [displayedColumns]="checkedStudentDisplayCol"
        >

        </kloud-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="" [mat-dialog-close]="'No data change'">Hủy</button>
  <button mat-button color="primary" [disabled]="apiLoading" cdkFocusInitial (click)="onOK()">
    <div style="display: flex;justify-content: center;align-items: center">
      <span *ngIf="isNew">Thêm mới</span>
      <mat-spinner
        [diameter]="20"
        color="primary"
        *ngIf="apiLoading"
      ></mat-spinner>
    </div>
  </button>
</mat-dialog-actions>
