<div class="fluid-container">
  <div class="left-fluid-container">
    <mat-card class="filter-container">
      <mat-card-title class="kloud-title-container">
        <span class="page-title"> Bộ lọc </span>
      </mat-card-title>
      <kloud-divider></kloud-divider>
      <mat-card-content class="kard-kontent">
        <div class="kard-kontent-komponent">
          <h3>Kloud Brandname</h3>

        </div>

        <div class="kard-kontent-komponent">
          <h3></h3>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="filter-container">
      <mat-card-title>Danh sach lop cac kieu</mat-card-title>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="right-fluid-container">
    <mat-card>
      <mat-card-title>Chọn học sinh</mat-card-title>
      <mat-card-content>
        <kloud-table>

        </kloud-table>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Danh sach cac dau so se gui</mat-card-title>
      <mat-card-content>
        <kloud-table>

        </kloud-table>
      </mat-card-content>
    </mat-card>

  </div>


</div>