.profile-top-header-container{
  margin: 0 0 25px 0;
}

.profile-cover-photo{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
  max-height: 350px;
  z-index: -1;
}

.profile-avatar-photo{
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-width: 5px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  z-index: 99;
}

.profile-top-header-information{
  text-align: left;
}

.profile-top-header-name{
  display: block;
  vertical-align: bottom;
}
.profile-top-header-information-container{
  padding: 0 0 0 0;
  margin: -100px 5% 0 5%;
  justify-content: start;
  //background: white;
  //border: 3px solid red;
  z-index: 99;
}

.profile-content-container{
  display: flex;
  height: 100%;
}

.profile-content-left-card{
  width: 70%;
  margin: 10px auto 10px auto;
  border-radius: 5%;
}

.profile-content-left-container{
  width: 50%;
  display: block;
}

.profile-content-right-container{
  width: 50%;
}

.profile-content-right-content{
  margin: 10px auto;
}

.right-content-menu-action{
  float:right;
  margin: 0 20px 5px;

}

.mat-grid-tile-content{

}

//#fack {
//  .mat-grid-tile-content::slotted {
//    display: none !important;
//  }
//}