.profile-top-header-container{
  margin: 0 0 25px 0;
}

.profile-cover-photo{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
  max-height: 350px;
  z-index: -1;
}

.profile-avatar-photo{
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-width: 5px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  z-index: 99;
}

.profile-top-header-information{
}

.profile-top-header-name{
  display: block;
  text-align: center;
}
.profile-top-header-information-container{
  padding: 0 0 0 0;
  margin: -100px 5% 0 5%;
  border-style: solid;
  border-color: red;
  z-index: 99;
}

.profile-content-container{
  border-style: solid;
  border-color: red;
  height: 100%;
}

.profile-content-left-card{
  border: 3px solid yellow;
}

.profile-content-left-container{
  display: block;
  border: 5px solid green;
}

.profile-content-right-container{
  border: 5px solid blue;
}

.mat-grid-tile-content{

}

.mat-grid

//#fack {
//  .mat-grid-tile-content::slotted {
//    display: none !important;
//  }
//}