<h2 mat-dialog-title >Thêm </h2>
<mat-dialog-content class="mat-typography">
        <mat-card class="mat-card-container">
            <mat-card-title>Thông tin học sinh</mat-card-title>
            <kloud-divider></kloud-divider>
            <mat-card-content class="mat-card-content">
                <form [formGroup]="studentInfoForm">
                    <mat-form-field *ngIf="!isNew">
                        <input
                          readonly
                          matInput
                          formControlName="tenant_code"
                          placeholder="Mã học sinh"
                        />
                        <mat-error *ngIf="!studentInfoForm.controls['tenant_code'].valid">
                            Vui lòng nhập đầy đủ thông tin!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input
                          matInput
                          placeholder="Họ và Tên"
                          formControlName="name"
                        />
                        <mat-error *ngIf="!studentInfoForm.controls['name'].valid">
                            Vui lòng nhập đầy đủ thông tin!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input
                          matInput
                          placeholder="Ngày sinh"
                          formControlName="DoB"
                          [matDatepicker]="StuDoBDatePicker"
                        />
                        <mat-hint>Định dạng ngày DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="StuDoBDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                          color="primary"
                          #StuDoBDatePicker></mat-datepicker>
                        <mat-error *ngIf="!studentInfoForm.controls['DoB'].valid">
                            Vui lòng nhập đầy đủ thông tin!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Giới tính</mat-label>
                        <mat-select
                          formControlName="gender"
                          matNativeControl
                        >
                            <mat-option [value]="'nam'"> Nam </mat-option>
                            <mat-option [value]="'nu'"> Nữ</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!studentInfoForm.controls['gender'].valid">
                            Vui lòng nhập đầy đủ thông tin!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input
                          matInput
                          placeholder="Dân tộc"
                          formControlName="religion"
                          [matAutocomplete]="ethnicAutocomplete"
                        />
                        <mat-autocomplete
                          #ethnicAutocomplete="matAutocomplete"
                        >
                            <mat-option *ngFor="let religion of common_religion" [value]="religion.Name">
                                <span>{{religion.Name}}</span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="!studentInfoForm.controls['religion'].valid">
                            Vui lòng nhập đầy đủ thông tin!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input
                          matInput
                          placeholder="Tôn giáo"
                          formControlName="ethnic"
                        />
                        <mat-error *ngIf="!studentInfoForm.controls['ethnic'].valid">
                            Vui lòng nhập đầy đủ thông tin!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input
                          matInput
                          placeholder="Địa chỉ"
                          formControlName="address"
                        />
                        <mat-error *ngIf="!studentInfoForm.controls['address'].valid">
                            Vui lòng nhập đầy đủ thông tin!
                        </mat-error>
                    </mat-form-field>
                </form>
                <form [formGroup]="classInfoForm">
                    <mat-form-field>
                        <mat-label>Lớp</mat-label>
                        <mat-select
                          formControlName="ID"
                          matNativeControl
                        >
                            <mat-option *ngFor="let data of classDataSource" [value]="data.ID"> {{data.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!classInfoForm.controls['ID'].valid">
                            Vui lòng nhập đầy đủ thông tin!
                        </mat-error>
                    </mat-form-field>
                </form>
            </mat-card-content>
        </mat-card>
    <form [formGroup]="fatherInfoForm">
        <mat-card class="mat-card-container">
            <mat-card-title>Thông tin bố</mat-card-title>
            <kloud-divider></kloud-divider>
            <mat-card-content class="mat-card-content">
                <mat-form-field>
                    <input
                      matInput
                      placeholder="Họ và tên bố"
                      formControlName="name"
                    />
                </mat-form-field>

                <mat-form-field>
                    <input
                      matInput
                      placeholder="Ngày sinh bố"
                      formControlName="DoB"
                      [matDatepicker]="faderStuDoBDatePicker"
                    />
                    <mat-hint>Định dạng ngày DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="faderStuDoBDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      color="primary"
                      #faderStuDoBDatePicker></mat-datepicker>
                    <mat-error *ngIf="!studentInfoForm.controls['DoB'].valid">
                        Vui lòng nhập đầy đủ thông tin!
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                      matInput
                      placeholder="Số CMTND"
                      formControlName="national_identifier"
                    />
                </mat-form-field>

                <mat-form-field>
                    <input
                      matInput
                      placeholder="Ngày cấp"
                      formControlName="national_identifier_provide_date"
                    />
                </mat-form-field>

                <mat-form-field>
                    <input
                      matInput
                      placeholder="Nơi cấp"
                    />
                </mat-form-field>

                <mat-form-field>
                    <input
                      matInput
                      placeholder="Nghề nghiệp"
                      formControlName="job"
                    />
                </mat-form-field>

                <mat-form-field>
                    <input
                      formControlName="religion"
                      matInput
                      placeholder="Dân tộc"
                    />
                </mat-form-field>

                <mat-form-field>
                    <input
                      formControlName="ethnic"
                      matInput
                      placeholder="Tôn giáo"/>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </form>

    <form [formGroup]="motherInfoForm">
        <mat-card class="mat-card-container">
            <mat-card-title> Thông tin mẹ </mat-card-title>
            <kloud-divider></kloud-divider>
            <mat-card-content class="mat-card-content">
                <mat-form-field>
                    <input
                      formControlName="name"
                      matInput
                      placeholder="Họ và tên mẹ"/>
                </mat-form-field>
                <mat-form-field>
                    <input
                      formControlName="DoB"
                      matInput
                      placeholder="Ngày sinh mẹ"
                      [matDatepicker]="moderStuDoBDatePicker"
                    />
                    <mat-hint>Định dạng ngày DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="moderStuDoBDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      color="primary"
                      #moderStuDoBDatePicker></mat-datepicker>
                    <mat-error *ngIf="!studentInfoForm.controls['DoB'].valid">
                        Vui lòng nhập đầy đủ thông tin!
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input
                      formControlName="national_identifier"
                      matInput
                      placeholder="Số CMTND"/>
                </mat-form-field>
                <mat-form-field>
                    <input
                      formControlName="national_identifier_provide_date"
                      matInput
                      placeholder="Ngày cấp"/>
                </mat-form-field>
                <mat-form-field>
                    <input
                      matInput
                      placeholder="Nơi cấp"/>
                </mat-form-field>
                <mat-form-field>
                    <input
                      formControlName="job"
                      matInput
                      placeholder="Nghề nghiệp"/>
                </mat-form-field>
                <mat-form-field>
                    <input
                      formControlName="religion"
                      matInput
                      placeholder="Dân tộc"/>
                </mat-form-field>
                <mat-form-field>
                    <input
                      formControlName="ethnic"
                      matInput
                      placeholder="Tôn giáo"/>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </form>

    <form [formGroup]="contactInformationForm">
        <mat-card class="mat-card-container">
            <mat-card-title> Thông tin người liên hệ khi cần thiết</mat-card-title>
            <mat-card-subtitle>
                <p>
                    Các vấn đề xử lý liên quan đến hệ thống sẽ được cung cấp khi khai báo thông tin
                </p>
            </mat-card-subtitle>
            <kloud-divider></kloud-divider>
            <mat-card-content class="mat-card-content">
                <mat-form-field>
                    <input
                      formControlName="name"
                      matInput
                      placeholder="Họ và tên người liên hệ"/>
                    <mat-error *ngIf="!contactInformationForm.controls['name'].valid">
                        Vui lòng nhập đầy đủ thông tin!
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                      formControlName="phone"
                      matInput
                      placeholder="Số điện thoại người liên hệ"/>
                    <mat-error *ngIf="!contactInformationForm.controls['phone'].valid">
                        Vui lòng nhập đầy đủ thông tin!
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                      formControlName="email"
                      matInput
                      placeholder="Email người liên hệ"/>
                    <mat-error *ngIf="!contactInformationForm.controls['email'].valid">
                        Vui lòng nhập đầy đủ thông tin!
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="" [mat-dialog-close]="'No data change'">Hủy</button>
    <button mat-button cdkFocusInitial type="submit" (click)="onOK()">
        <div style="display: flex;justify-content: center;align-items: center">
            <span *ngIf="isNew">Thêm mới</span>
            <span *ngIf="!isNew">Chỉnh sửa</span>
            <mat-spinner
              [diameter]="20"
              color="primary"
              *ngIf="apiLoading"
            ></mat-spinner>
        </div>
    </button>
</mat-dialog-actions>