<h1>Dashboard</h1>
<h3>Xin chào, Nguyễn Tuấn Thành</h3>

<mat-grid-list cols="4" rowHeight="2:1" >
  <mat-grid-tile>
    <mat-card class="dashboard-assessment-card">
      <mat-card-content class="dashboard-assessment-card-content">
        <div class="dashboard-assessment-content">
          <span class="dashboard-assessment-content-title">Số học sinh</span>
          <span class="dashboard-assessment-content-content">200</span>
        </div>
        <div class="dashboard-assessment-icon">
          <mat-icon class="dashboard-assessment-icon-icon"> home </mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="dashboard-assessment-card">
      <mat-card-content class="dashboard-assessment-card-content">
        <div class="dashboard-assessment-content">
          <span class="dashboard-assessment-content-title">Số học sinh</span>
          <span class="dashboard-assessment-content-content">200</span>
        </div>
        <div class="dashboard-assessment-icon">
          <mat-icon class="dashboard-assessment-icon-icon"> home </mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="dashboard-assessment-card">
      <mat-card-content class="dashboard-assessment-card-content">
        <div class="dashboard-assessment-content">
          <span class="dashboard-assessment-content-title">Số học sinh</span>
          <span class="dashboard-assessment-content-content">200</span>
        </div>
        <div class="dashboard-assessment-icon">
          <mat-icon class="dashboard-assessment-icon-icon"> home </mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="dashboard-assessment-card">
      <mat-card-content class="dashboard-assessment-card-content">
        <div class="dashboard-assessment-content">
          <span class="dashboard-assessment-content-title">Số học sinh</span>
          <span class="dashboard-assessment-content-content">200</span>
        </div>
        <div class="dashboard-assessment-icon">
          <mat-icon class="dashboard-assessment-icon-icon"> home </mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>