.fluid-container{
  display: flex;
}

.filter-container{
  margin: 10px 0 10px 10px;
}

.main-content-container{
  margin: 10px 10px 10px 10px;
}

.kloud-custom-option-row{
  display: flex;
}

.kloud-custom-option-left{
  width: 50%;
}

.kloud-custom-option-right{
  width: 50%;
}