<div class="fluid-container">
  <div>
    <mat-card class="filter-container">
      <mat-card-title class="kloud-title-container">
        <span class="page-title"> Bộ lọc </span>
      </mat-card-title>
      <kloud-divider></kloud-divider>

      <mat-card-content class="kloud-card-content">
        <div style="display: flex; justify-content: center; align-items: center">
          <mat-form-field appearance="outline">
            <mat-label>Khoảng ngày</mat-label>
            <mat-date-range-input
              [formGroup]="dateFilter"
              [rangePicker]="campaignOnePicker"
            >
              <input
                formControlName="start"
                matStartDate
                placeholder="Từ ngày"
              >
              <input
                formControlName="end"
                matEndDate
                placeholder="Đến ngày"
              >
            </mat-date-range-input>
            <mat-hint>Định dạng ngày DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
          </mat-form-field>

          <button
            [matMenuTriggerFor]="filterOptionMenu"
            mat-icon-button
            style="margin: 0 0 15px 10px;"
          ><mat-icon>more_vert</mat-icon></button>
        </div>

        <div style="display: flex">
          <div class="widget-spacer"></div>
          <button mat-stroked-button class="kloud-button" (click)="applyDatePickerFilter()"> Áp dụng </button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="filter-container">
      <mat-card-title class="kloud-title-container">
        <span class="page-title"> Danh sách lớp </span>
      </mat-card-title>
      <kloud-divider></kloud-divider>

      <mat-card-content class="kontent kloud-card-content">
        <mat-progress-bar *ngIf="apiLoading" mode="indeterminate" color="accent"></mat-progress-bar>
        <mat-button-toggle-group
          style="align-items: start; display: block;"
          #classToggle="matButtonToggleGroup"
          class="class-filter-group-container"
          [(ngModel)]="selectedClassModel">
          <mat-button-toggle
            [style.align-items]="'left'"
            mat-stroke-button
            *ngFor="let item of classDataSource"
            [value]="item" (click)="onClickClassToggle()"
            class="kloud-button-toggle"
            style="display: flex; width: 100%; "
          >
            <label>
              <div style="text-align: left;"> <strong>Mã lớp:</strong> {{item.classCode}}</div>
              <div style="text-align: left;"> <strong>Tên lớp:</strong> {{item.name}}</div>
            </label>
            <kloud-divider></kloud-divider>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-content>

    </mat-card>

  </div>

  <mat-card class="main-content-container">
    <mat-card-title class="kloud-title-container">
      <span class="page-title">Danh sách học sinh</span>
    </mat-card-title>

    <kloud-divider></kloud-divider>

    <mat-card-subtitle>
      <div class="widget-container">

        <mat-form-field class="top-search-box-container">
          <button mat-icon-button color="primary" matPrefix><mat-icon color="">search</mat-icon></button>
          <input class="top-search" matInput placeholder="Tìm kiếm">
        </mat-form-field>

        <div class="widget-spacer"></div>
        <div class="widget-button-container">
          <div class="widget-button"><button mat-flat-button color="secondary">Chọn</button></div>
          <div class="widget-button" (click)="onClickOpenFilter()"><button mat-flat-button color="secondary">Lọc</button></div>

          <div class="widget-button">
            <button class="widget-icon-button"
                    mat-raised-button color="secondary"
            > <mat-icon class="widget-icon">add_circle_outline</mat-icon>
              <span>Xuất</span>
            </button>
          </div>
          <div class="widget-button">
            <button class="widget-icon-button"
                    mat-raised-button color="accent"
            >
              <mat-icon class="widget-icon">add_circle_outline</mat-icon>
              <span>Import</span>
            </button>
          </div>

          <div class="widget-button">
            <button class="widget-icon-button"
                    mat-raised-button color="primary"
            >
              <mat-icon class="widget-icon">add_circle_outline</mat-icon>
              <span>Tạo mới</span>
            </button>
          </div>

        </div>
      </div>
    </mat-card-subtitle>

    <mat-card-content class="table-container">
        <mat-progress-bar *ngIf="apiLoading" mode="indeterminate" color="accent"></mat-progress-bar>
        <table mat-table [dataSource]="studentDataSource">
          <ng-container matColumnDef="tenant_code">
            <th mat-header-cell *matHeaderCellDef> Mã học sinh</th>
            <td mat-cell *matCellDef="let element"> {{element.tenant_code}} </td>
          </ng-container>

          <ng-container matColumnDef="name" sticky>
            <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container *ngFor="let date of dateCount" [matColumnDef]="date">
            <th mat-header-cell *matHeaderCellDef> Ngày {{date}}</th>
            <td mat-cell *matCellDef="let element">
              <div style="display: flex; justify-content: center; align-items: center">
                <button [disabled]="apiLoading" mat-icon-button *ngIf="element?.checkedInDate?.includes(date)" (click)="onClickCheckin(element, date, false)"> <mat-icon style="color: green">check_circle_outline</mat-icon> </button>
                <button [disabled]="apiLoading" mat-icon-button *ngIf="!element?.checkedInDate?.includes(date)" (click)="onClickCheckin(element, date, true)"> <mat-icon color="accent">remove_circle_outline</mat-icon></button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [colSpan]="displayedColumn.length">
              <div class="table-no-matching-data">
                Không có dữ liệu
              </div>
            </td>
          </tr>
        </table>

      <mat-paginator
        [length]="this.studentDataSource.data.length"
        [pageSize]="15"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>

</div>

<mat-menu #filterOptionMenu="matMenu">
  <ng-template matMenuContent>
    <button
      mat-menu-item
      class="kloud-button"
      (click)="onClickHandleFilterToToday()"
    > Hôm nay </button>

    <button
      mat-menu-item
      class="kloud-button"
      (click)="onClickResetFilter()"
    > 7 ngày </button>
  </ng-template>
</mat-menu>