@charset "utf-8";
@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$red-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
        color: (
                primary: $my-primary,
                accent: $my-accent,
        )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($my-theme);
@include mat.toolbar-theme($my-theme);

// Include the theme mixins for other components you use here.

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.notification-snackbar {
  background: white;
  color: black;
}

.kloud-title-container{
  padding: 10px 0 10px 10px;
}

.page-title{
  font-size: 24px;
}

.top-search-box-container{
  display: flex;
}

.top-search{
  margin-left: 20px;
}

.widget-button{
  margin: 0 10px 0 10px;
}

.kloud-widget{
  display: block;
}

.widget-container{
  display: flex;
  margin: 10px 10px 10px 10px;
}

.widget-button-container{
  display: flex;
  float: right;
  padding: 10px 10px 10px 10px;
}

.widget-spacer {
  flex: 1 1 auto;
}

.widget-icon-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-icon {
  padding-right: 5px;
}

.main-content-container {
  margin: 10px 10px 0 10px;
}

.filter-container{
  margin: 10px 0 10px 10px;
  min-width: 300px;
}

.right-fluid-container{
  width: 100%;
}

.kard-kontent{
  padding: 10px 5px 0 5px;
}

.kard-kontent-komponent-title{
  margin-bottom: 5px;
  font-family: Roboto, serif;
}

.kloud-kard-actions{
  display: flex;
  align-content: center;
  align-items: center;
}

.full-width-input{
  width: 90%;
}

.mat-button-toggle-label-content {
  display: flex !important;
}

.filter-radio-button-group{
  display: flex;
  flex-direction: column;
}

.filter-radio-button-button{
  margin: 6px 0 6px 10px;
}

.kloud-custom-option-row{
  display: flex;
}

.kloud-custom-option-left{
  width: 50%;
}

.kloud-custom-option-right{
  width: 50%;
}

.ngx-kloud-kustom-panel{
  min-width: 600px !important;
}

.kloud-tree-invisible {
  display: none;
}

.kloud-tree ul,
.kloud-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.kloud-tree .mat-nested-tree-node div[role=group] {
  padding-left: 20px;
}

.kloud-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}